**/__pycache__/
**/*.py[cod]
**/*.so
**/*.egg
**/*.egg-info
dist
build
.eggs
*.egg-info
.installed.cfg
*.egg
*.manifest
*.spec
pip-log.txt
pip-delete-this-directory.txt
htmlcov
.tox
.nox
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis
.pytest_cache
cover
.pyre
.pytype
cython_debug
.pytest_cache/
cover/
htmlcov/
dist/
build/
*.egg-info/
.installed.cfg
*.egg
*.manifest
*.spec
pip-log.txt
pip-delete-this-directory.txt
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/
.pyre/
.pytype/
cython_debug/
.venv/